{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <img src="{% static 'home/imgs/hero.png' %}" alt="Hero" class="hero-img">

        <img src="{% static 'home/imgs/title.svg' %}" alt="Title" class="hero-title">
        <h3 class="hero-sub-title">REDEFINING LUXURY TRAVEL</h3>

        <div class="btn-group">
          <a href="{% url 'fleet' %}"><button class="btn fleet-btn">Our Fleet</button></a>
          <a href="tel:07593331949"><button class="btn call-btn">Call Now</button></a>
        </div>
      </div>

      <div class="s2">
        <div class="s2-title">Popular Cars</div>

        <div class="card-group">
          <!-- CARD 1 -->
          <div class="card">
            <img src="{% static 'home/imgs/thumbnail_placeholder.png' %}" alt="Thumbnail" class="card-thumbnail">

            <hr class="card-line">

            <h2 class="card-category">First Class</h2>

            <p class="card-perk1">Passengers:  4</p>
            <p class="card-perk2">Luggages: 2</p>

            <p class="card-car-name">BMW 7 Series</p>

            <hr class="card-line">

            <a href="#"><button class="card-btn btn">Find Out More</button></a>
          </div>

          <!-- CARD 2 -->
          <div class="card">
            <img src="{% static 'home/imgs/thumbnail_placeholder.png' %}" alt="Thumbnail" class="card-thumbnail">

            <hr class="card-line">

            <h2 class="card-category">First Class</h2>

            <p class="card-perk1">Passengers:  4</p>
            <p class="card-perk2">Luggages: 2</p>

            <p class="card-car-name">BMW 7 Series</p>

            <hr class="card-line">

            <a href="#"><button class="card-btn btn">Find Out More</button></a>
          </div>

          <!-- CARD 3 -->
          <div class="card">
            <img src="{% static 'home/imgs/thumbnail_placeholder.png' %}" alt="Thumbnail" class="card-thumbnail">

            <hr class="card-line">

            <h2 class="card-category">First Class</h2>

            <p class="card-perk1">Passengers:  4</p>
            <p class="card-perk2">Luggages: 2</p>

            <p class="card-car-name">BMW 7 Series</p>

            <hr class="card-line">

            <a href="#"><button class="card-btn btn">Find Out More</button></a>
          </div>
        </div>
        <a href="#"><button class="s2-btn btn">Find More Cars</button></a>
      </div>
    </div>
  {% endblock %}
</body>
</html>